.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* Media query */

/* Tablet */
@media screen and (min-width: 420px) and (max-width: 768px) {
  .row {
    width: 100%;
    margin-top: 0;
    padding: 20px 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 419px) {
  .row {
    width: 100%;
    margin-top: 0;
    padding: 20px 10px;
  }
}

/* BLOCCO LEZIONI */
#lezioni .row > .left,
#lezioni .row > .right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* Media query  */

/* Tablet */
@media screen and (min-width: 420px) and (max-width: 768px) {

  #lezioni .row img {
    max-height: 100px;
    object-fit: contain;
  }


  #lezioni {
    background-color: pink;
  }
}

/* Mobile */
@media screen and (max-width: 419px) {
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
  }

  #lezioni .row img {
    max-height: 100px;
    object-fit: contain;
  }

  #lezioni {
    background-color: lightblue;
  }
}


/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* Media query */
@media screen and (max-width: 419px) {
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
  }
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

@media screen and (max-width: 419px) {
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    margin-top: 40px;
  }
  
  #why .row img  {
    padding: 10px;
  }

  #why {
    background-color: lightcoral;
  }
}

/* COMMON */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* Media query */

/* Tablet */
@media screen and (min-width: 420px) and (max-width: 768px) {
    /* RESET */
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    img {
      height: auto;
      width: 60%;
    }
}

/* Phone */
@media screen and (max-width: 419px) {
  /* RESET */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  h1 {
    margin-bottom: 20px;
  }

  img {
    height: auto;
    width: 60%;
  }
}
